{%- style -%}
  .section {
    position: relative;
  }
  .section.background-full::before {
    width: calc((100% - var(--page-width)) / 2);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: {{ section.settings.section_color}};
  }
  .section__heading {
    font-size: 4.8rem;
    text-align: center;
    color: {{ section.settings.heading_color }};
  }
  .question--block .question {
    padding: 1rem;
    font-size: 1.8rem;
  }
{%- endstyle -%}

{%- if section.settings.full-background -%}
  <p>BACK is full</p>
{%- endif -%}

<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}"></div>

<div class="section page-width background{% if section.settings.full-background %}-full{% endif%}"  style="background-color: {{ section.settings.section_color}}">
  {%- if section.settings.section__heading != blank -%}
    <h2 class="section__heading h2">{{ section.settings.section__heading | escape }}</h2>
  {%- endif -%}

  {%- for block in section.blocks -%}
    <div class="question--block">
      <div class="question">{{ block.settings.question }}<div>
      <p class="answer">{{ block.settings.answer }}</p>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "FAQ",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "section__heading",
        "default": "FAQ",
        "label": "Section Title"
      },
      {
        "type": "color",
        "id": "section_color",
        "label": "Section Background",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "full-background",
        "label": "Fill full background",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "FAQ Block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "default": "Question",
            "label": "Add a question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "default": "<p>Answer</p>",
            "label": "Add a answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ"
        
      }
    ]
  }
{% endschema %}