{%- style -%}
  .section {
    position: relative;
  }
  .background-full::before,
  .background-full::after {
    width: calc((100% - var(--page-width)) / 2);
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    background: {{ section.settings.section_color }};
  }
  .background-full::before {
    left: 0;
  }
  .background-full::after {
    right: 0;
  }
  .section__heading {
    font-size: 4.8rem;
    text-align: center;
    color: {{ section.settings.heading_color }};
  }
  .question {
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    border: 1px solid #000;
  }
  .answer {
    padding: 1rem;
    border: 1px solid red;
    display: none;
  }
  .answer.open {
    display: block;
  }
{%- endstyle -%}


{%- assign openEvery = section.settings.openEvery -%}

<script>
  let open_every = {{ openEvery | json }};
</script>

{% javascript %}

  let faqSectionsId = [];
  console.log(document.getElementById('MainContent').childNodes.forEach(elem => {


    if (elem.id && elem.id.includes('faq')) {
      faqSectionsId.push(elem.id)
    }
  }));
  console.log(faqSectionsId);

  document.querySelectorAll(".question").forEach(question => {
    question.addEventListener('click', (e) => {


      if (open_every) {
        question.nextElementSibling.classList.toggle('open');
      } else {
        if (question.nextElementSibling.classList.value == 'answer') {
          document.querySelectorAll('.answer').forEach(answer => {
            answer.classList.remove('open');
          });
          question.nextElementSibling.classList.toggle('open');
        } else {
          question.nextElementSibling.classList.remove('open');
        }
      }



    })
  });
{% endjavascript %}



<section class="page-width background{% if section.settings.full-background %}-full{% endif %}" style="background-color: {{ section.settings.section_color }}">
  {%- if section.settings.section__heading != blank -%}
    <h2 class="section__heading h2">{{ section.settings.section__heading | escape }}</h2>
  {%- endif -%}

  {%- for block in section.blocks -%}
    <div class="question--block">
      <div class="question">{{ block.settings.question }}</div>
      <p class="answer {% if block.settings.is_open %}open{% endif %}">{{ block.settings.answer | replace: 'p>', 'span>' }}</p>

    </div>
  {%- endfor -%}



  <div class="question--block">
    <div class="question">Question 1</div>
    <p class="answer">Answer 1</p>
  </div>

  <div class="question--block">
    <div class="question">Question 2</div>
    <p class="answer open">Answer 2</p>
  </div>

  <div class="question--block">
    <div class="question">Question 3</div>
    <p class="answer">Answer 3</p>
  </div>

</section>



{% schema %}
  {
    "name": "FAQ",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "section__heading",
        "default": "FAQ",
        "label": "Section Title"

      },
      {
        "type": "color",
        "id": "section_color",
        "label": "Section Background",
        "default": "#ffffff"
      },
      {

        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "full-background",
        "label": "Fill full background",
        "default": false
      }, {
        "type": "checkbox",
        "id": "openEvery",
        "label": "Open each answer separately",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "FAQ Block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "default": "Question",
            "label": "Add a question"
          }, {
            "type": "richtext",
            "id": "answer",
            "default": "<p>Answer</p>",
            "label": "Add a answer"
          }, {
            "type": "checkbox",
            "id": "is_open",
            "label": "Open answer by default",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ"
      }
    ]
  }
{% endschema %}