{%- style -%}
  .section {
    position: relative;
  }
  .background-full::before,
  .background-full::after {
    width: calc((100% - var(--page-width)) / 2);
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    background: {{ section.settings.section_color }};
  }
  .background-full::before {
    left: 0;
  }
  .background-full::after {
    right: 0;
  }
  .section__heading {
    font-size: 4.8rem;
    text-align: center;
    color: {{ section.settings.heading_color }};
  }
  .question {
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .answer {
    display: none;
  }
  .answer.open {
    display: block;
  }
{%- endstyle -%}

{% javascript %}

  document.querySelectorAll(".question").forEach(item => {
    item.addEventListener('click', (e) => {

// console.log(section.settings.section__heading);
      console.log(item);
      document.querySelectorAll('.answer').forEach(item => item.classList.remove('open'));
      let answerText = item.nextElementSibling;
      answerText.classList.toggle('open');
    })
  });
{% endjavascript %}



<div class="page-width background{% if section.settings.full-background %}-full{% endif %}" style="background-color: {{ section.settings.section_color }}">
  {%- if section.settings.section__heading != blank -%}
    <h2 class="section__heading h2">{{ section.settings.section__heading | escape }}</h2>
  {%- endif -%}

  {%- for block in section.blocks -%}
    
      <div class="question">{{ block.settings.question }}</div>
      <p class="answer {% if block.settings.is_open %}open{% endif %}">{{ block.settings.answer }}</p>

    
  {%- endfor -%}


  {%- comment -%}
    <div class="question">Question</div>
    <p class="answer open">Answer</p>



    <div class="question">Question</div>
    <p class="answer">Answer</p>
    <div class="question">Question</div>
    <p class="answer">Answer</p>
  {%- endcomment -%}

</div>


{% schema %}
  {
    "name": "FAQ",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "section__heading",
        "default": "FAQ",
        "label": "Section Title"

      },
      {
        "type": "color",
        "id": "section_color",
        "label": "Section Background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "full-background",
        "label": "Fill full background",
        "default": false
      }, {
        "type": "checkbox",
        "id": "open-every",
        "label": "Open each answer separately",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "FAQ Block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "default": "Question",
            "label": "Add a question"
          }, {
            "type": "richtext",
            "id": "answer",
        
            "label": "Add a answer"
          }, {
            "type": "checkbox",
            "id": "is_open",
            "label": "Open answer by default",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {

        "name": "FAQ"

      }
    ]
  }
{% endschema %}